.installationinformation
.metadata/
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
version.txt
matchmaker/output

matchmaker/logs/
matchmaker/replays/
doc/
art/
music/
sound/
map editor/

/build.xml
*.jar
*.class*
*.project
